body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.gallery {
  display: grid;
  grid-template-rows: repeat(6s, auto); /* 5 equal rows */
  grid-template-columns: auto;
}
